body{
    color:#757575;
}
/* основний колір контенту #212121 */
/* вторинний колір контенту #757575 */
/* білий колір #FFFFFF */
/* вторинний білий колір rgba(255, 255, 255, 0.6) */
/* колір виділення #2196F3 */
.logo{
    color: #212121;
}
.logo > span{
    color: #2196F3;
}